<div class="row">
    <div class="col-md-12">
        <h1>questions</h1>
        This is version
        <vr-version></vr-version>
        <p class="text-success">ddd!</p>
    </div>
</div>

<table class="table  table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Questions</th>
            <th>Question Id</th>
            <th>View Count</th>
            <th>Answer Count</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in QuestionsCtrl.siteInfo.items track by $index">
            <td>{{$index+1}}</td>
            <td> <a ui-sref="views/questionDetail/questionDetail({id:item.question_id})"> {{item.title}}</a></td>
            <td>{{item.question_id}}</td>
            <td>{{item.view_count}}</td>
            <td>{{item.answer_count}}</td>
        </tr>
    </tbody>
</table>


<div ng-if="QuestionsCtrl.stackOverflowError">{{QuestionsCtrl.stackOverflowError}}</div>
<script src="views/questionDetail/questionDetail.js"></script>
<script src="/questions.js"></script>