<div class="row">
    <div class="col-md-12">
        <h1>ggggggggggggggggggggggggggggggggggg</h1>
        This is version
        <vr-version></vr-version>
        <p class="text-success"> {{id}}</p>
    </div>
</div>

<table class="table  table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>View Count</th>
            <th>Answer Count</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in QuestionCtrl.siteInfo.items track by $index">
            <td>{{$index+1}}</td>
            <td> <a ui-sref="question({id:item.question_id})" ng-click=""> {{item.title}}</a></td>
            <td>{{item.view_count}}</td>
            <td>{{item.answer_count}}</td>
        </tr>
    </tbody>
</table>


<div ng-if="QuestionCtrl.stackOverflowError">{{QuestionCtrl.stackOverflowError}}</div>
<script src="questionDetail.js"></script>
<script src="views/questions/questions.js"></script>